.row
  .col-sm-12.top-space  
    = form_for @user do |f|
      = f.error_messages
      %p
        = f.text_field :username, :class => "form-control", :placeholder => "Nome do Usuário"
      %p
        = f.text_field :email, :class => "form-control", :placeholder => "E-mail"
      %p
        = f.password_field :password, :class => "form-control", :placeholder => "Senha"
  
      %p
        = f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirme sua senha"
    
      %h2=t(".permission")
      =f.radio_button :role, :administrator
      =t(".administrator") 
      <br/>

      =f.radio_button :role, :supervisor 
      =t(".supervisor") 
      <br/>

      =f.radio_button :role, :seller 
      =t(".seller") 
      <br/><br/> 
      -if @user.role.to_s == "supervisor" 
        %h2=t("team_users")
        -User.all.each do |user|
          - if (user.id != @user.id && user.role.to_s == "seller" )
            = check_box_tag 'user[collaborator_ids][]', user.id, @user.collaborators.include?(user), :class=> "input_radio"
            = user.username
        <br /><br />
      =f.submit nil, :class => "btn btn-default"
  
  //=link_to "Voltar", users_path(), :class => "btn btn-default"