= form_for @user do |f|
  = f.error_messages
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    
  %h3=t(".permission")
  =f.radio_button :role, :administrator
  =t(".administrator") 
  <br/>

  =f.radio_button :role, :supervisor 
  =t(".supervisor") 
  <br/>

  =f.radio_button :role, :seller 
  =t(".seller") 
  <br/> 
  -if @user.role.to_s == "supervisor" 
    %h3=t(".team_users")
    -User.all.each do |user|
      = check_box_tag 'user[collaborator_ids][]', user.id, @user.collaborators.include?(user), :class=> "input_radio" if user.id != @user.id
      = user.username  if user.id != @user.id 
  =f.submit nil, :class => "btn btn-default"
  =link_to "Voltar", users_path(), :class => "btn btn-default"