-content_for :scripts do
  :javascript
    $(".list-group-item-text").click(function() {
      window.location.href = '/bulletins/' + $(this).attr("id");
    });

%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Teste", "javascript:void(0);"

.col-xs-7.metas
  %h1.h1-home Metas
  
  = image_tag("template/grafico_marcacao.jpg", :class => "img-responsive")
  
.col-xs-5.ultimos-pedidos
  %h1.h1-home Últimos Pedidos
  
  %table.table.table-condensed
    %tr
      %th
      %th Cliente
      %th Representantes
      %th Data
    - @proposals.each do |p|
      %tr
        %td=p.id
        %td=link_to p.contact.name, order_path(p), :class => "red"
        %td=p.user.username
        %td=p.created_at.strftime("%d.%m.%Y")

  = link_to "Veja a lista completa", orders_path, :class => "pull-right more-link"
.col-xs-7.comunicados
  %h1.h1-home Comunicados
  
  .list-group
    - @bulletins.each do |b|
      %a.list-group-item
        %h4.list-group-item-heading 
          = b.title
          %span.list-group-date=b.created_at.strftime("%d.%m.%Y")
        %p.list-group-item-text{:id => b.id}
          =truncate(b.message)


  = link_to "Veja todos os comunicados", new_bulletin_path, :class => "pull-right more-link"
.col-xs-5.contatos
  %h1.h1-home Contatos
  %p Busque seus contatos. Não se esqueça de manter sua agenda atualizada.
  
  .panel.panel-default
    .panel-body      
      %form.form-inline{:action => "/contacts"}
        .form-group
          %label.sr-only
            Contato
          %input.form-control.input-form{:name => "search"}
        %button.btn.btn-default
          Buscar
  
  .banner
    = link_to image_tag("template/banner_biblioteca.jpg", :class => "img-responsive"), libraries_path