%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Contatos", "javascript:void(0);"

.row
  .col-xs-9
    %h1 biblioteca
  .col-xs-3
    %button.btn.btn-default.pull-right.header-button + Arquivo

.alert.alert-success
  %b Concluído! 
  Registro excluido com
  %b sucesso!

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form
    .col-xs-1
      %button.btn.btn-default
        Buscar
  .clearfix

%h2 Escritório
.users  
  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix

  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix

  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix

  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix
        
%h2 Marketing
.users  
  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />
            
            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"
            
        .clearfix
        
  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix
        
  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix

  .col-sm-6.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-3
          = image_tag("template/ico_docx.png", :class =>"file-list")
        .col-sm-9
          %h2 E-mail Marketing - Telha Prisma
          %p 
            Tamanho: 15mb <br />
            Criado em: 12/09/2013 <br />

            = link_to "Download", "#"
            | 
            = link_to "Deletar", "#"

        .clearfix
