
.row
  .col-sm-12.top-space
    = form_for @contact do |f|    
      -if f.error_messages
        .alert.alert-danger.a
          %b Ops!
          Todos os campos são obrigatórios
      
      -#%input.form-control.form-danger{:type => "text", :placeholder => "Nome Completo"}
      = f.hidden_field :user_id, :value => current_user.id.to_s
      = f.text_field :name, :class => "form-control", :placeholder => "Nome Completo"
      <br />
      = f.text_field :email, :class => "form-control", :placeholder => "E-mail"
      <br />
      = f.text_field :cpf_cnpj, :class => "form-control", :placeholder => "CPF/CNPJ"
      <br />
      %label Tipo de Contato
      %br
      = f.select (:category, options_for_select([['Cliente'],['Revenda'],['Revendedor'],['Fornecedor'],['Lythos']]),:class => "form-control")
      %br
      %br
      = f.text_field :address, :class => "form-control", :placeholder => "Endereço"
      <br />
      = f.text_field :city, :class => "form-control", :placeholder => "Cidade"
      <br />
      = f.text_field :state, :class => "form-control", :placeholder => "Estado"
      <br />
      = f.text_field :phone, :class => "form-control", :placeholder => "Telefone"
      <br />
      = f.text_field :cellphone, :class => "form-control", :placeholder => "Celular"
      <br />
      = submit_tag "Salvar", :class => "btn btn-default pull-right"
    
    