%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Contatos", "javascript:void(0);"

.row
  .col-xs-9
    %h1 Contatos
  .col-xs-3
    %button.btn.btn-default.pull-right.header-button + Contato

.alert.alert-success
  %b Concluído! 
  Registro excluido com
  %b sucesso!

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form
    .col-xs-1
      %button.btn.btn-default
        Buscar
  .clearfix

.col-xs-12.ordering-box
  .btn-group
    %button.btn.btn-white #
    %button.btn.btn-white A
    %button.btn.btn-white B
    %button.btn.btn-white C
    %button.btn.btn-white D
    %button.btn.btn-white E
    %button.btn.btn-white F
    %button.btn.btn-white G
    %button.btn.btn-white H
    %button.btn.btn-white I
    %button.btn.btn-white J
    %button.btn.btn-white K
    %button.btn.btn-white L
    %button.btn.btn-white M
    %button.btn.btn-white N
    %button.btn.btn-white O
    %button.btn.btn-white P
    %button.btn.btn-white Q
    %button.btn.btn-white R
    %button.btn.btn-white S
    %button.btn.btn-white T
    %button.btn.btn-white U
    %button.btn.btn-white V
    %button.btn.btn-white W
    %button.btn.btn-white X
    %button.btn.btn-white Y
    %button.btn.btn-white Z

.users  
  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix
        
  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix
        
  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix

  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix
        
  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix  
        
  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix
        
  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix

  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix  

  .col-sm-4.bottom-space-30
    .col-sm-12.data-box
      .col-sm-12.info-box
        .col-sm-4
          = image_tag("template/profile_pic.jpg", :class =>"picture-list")
        .col-sm-8
          %h2 João da Silva
          %p 
            email@email.com <br />
            00 00000-0000 <br />
            00 00000-0000
        .clearfix