%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Contatos", "javascript:void(0);"

.row
  .col-xs-9
    %h1 Contatos
  .col-xs-3
    =link_to "+ Contato", new_contact_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído! 
    Registro criado/editado com
    %b sucesso!

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form
    .col-xs-1
      %button.btn.btn-default
        Buscar
  .clearfix

.row.top-space
  .col-sm-5
    .col-sm-12.data-box
      .col-sm-12.info-box
        = image_tag("template/company-building-icon.png ", :class => "profile-pic-big")
  
    .row
      .col-sm-12
        =# link_to "Alterar foto", "#", :class => "btn btn-white cem_p top-space"
        <br />
        = link_to "Editar contato", edit_contact_path(@contact), :class => "btn btn-white cem_p"
        <br />
        =link_to "Deletar contato", @contact, :confirm => "Deseja excluir este registro?", :method => :delete, :class => "btn btn-warning cem_p"
        <br />
        %a.btn.btn-info.cem_p{:href => "/contacts"} Voltar
        <br />
  .col-sm-7
    %h2
      =@contact.name
      
    =@contact.email 
    <br />
    .label.label-info="#{@contact.category}"
    <br />
    =@contact.phone
    <br />
    =@contact.cellphone
    <br />
    
    =@contact.address
    <br />
    ="#{@contact.city} - #{@contact.state}"
    <br />
    