-content_for :scripts do
  = stylesheet_link_tag "chosen.min.css"  
  = javascript_include_tag "chosen.jquery.min.js"   
 
  :javascript
    $('.chosen-select').chosen({no_results_text: "Nenhum resultado para",width: "50%"});
    $(document).ready(function() {
      $('#select_fake').change(function() {
        $.ajax({
          url: "#{selected_products_path}",
          data: {
            id : $('#select_fake').val()
          },
          dataType: "script"
        });
      });
      
      
      $('input').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);                
        return (code == 13) ? false : true;
      }); 
     
      $(".various").fancybox({
        fitToView	: true,
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        type		: 'iframe',
      });
    });

.row
  .col-sm-12.top-space
    = form_for @proposal do |f|    
      //%p.form-msg-danger Este campo está incorreto:
      %label Selecione o destinatário
      = f.select :contact_id, @contacts, :class => "form-control", :prompt => "Selecione"
      =link_to "[adicionar contato]", new_contact_path, :class => "red"
      <br /><br />
      = f.text_field :email, :class => "form-control", :placeholder => "E-mail"
      <br />
      = f.text_field :cc, :class => "form-control", :placeholder => "Com cópia para"
      <br />
      
      = f.hidden_field :user_id, :value => current_user.id.to_s
      
      - if !@edit
        %h2 Selecione os produtos
        .col-xs-12.search
          .col-xs-6
            =select("select", "fake", @products,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione um Produto"} )
            %input.form-control.produto.hide#cod_prod{:placeholder => "Produto"}
          .col-xs-2
            %input.form-control.preco#preco_prod{:placeholder => "Preço Un.", :readonly=>true}
          .col-xs-2
            %input.form-control.qtde#qtde_prod{:placeholder => "Qtde."}
          .col-xs-2
            %a.btn.btn-default.submit-item +
            =link_to image_tag("template/ico_calculator_small.png"), calculator_proposals_path, :class => "various fancybox.iframe btn btn-default"
          <br /><br />
        
          #items
      -else
        %h2 Produtos
        
        %table.table.table-condensed
          - @proposal.proposal_items.each do |p|
            %tr
              %td=p.quantity
              %td=p.product
              %td=number_to_currency(p.value)
              %td=number_to_currency(p.quantity * p.value)
            
      .clearfix
      %div#ShowSelects
      %h2 Endereço de Entrega
      = f.text_field :address, :class => "form-control", :placeholder => "Endereço"
      <br />
      = f.text_field :number, :class => "form-control", :placeholder => "Número"
      <br />
      = f.text_field :city, :class => "form-control", :placeholder => "Cidade"
      <br />
      = f.text_field :state, :class => "form-control", :placeholder => "Estado"
      <br />
      = f.text_field :postal_code, :class => "form-control", :placeholder => "CEP"
      <br />
      - if @edit
        = link_to "Ver PDF", proposal_path(@proposal,:format => :pdf), :class => "pdf btn btn-white pull-right", :target => "_blank"    
        = link_to "Reprovar", denial_proposal_path(@proposal), :class => "reprovado btn btn-white pull-right"
        = link_to "Aprovar", approve_proposal_path(@proposal), :class => "aprovado btn btn-white pull-right"
        <br />
      <br />
      = submit_tag "Salvar", :class => "btn btn-default pull-right"
