.container{:style => "width:850px;"}    
  .main_content{:style => "margin-top:0px;"}
    =image_tag "template_pdf/header.jpg"
    %br/
    
    %h1 Dados para Faturamento
    %table
      %tr
        %td{:width => "80px"}
          %b Nome
        %td=@proposal.contact.name
      %tr
        %td 
          %b CNPJ
        %td=@proposal.contact.cpf_cnpj
      %tr
        %td 
          %b E-Mail
        %td=@proposal.email
      %tr
        %td 
          %b Telefone
        %td=@proposal.contact.phone
      %tr
        %td 
          %b Celular
        %td=@proposal.contact.cellphone
        
        
    %h1 Dados para Entrega
    %table
      %tr
        %td{:width => "80px"}
          %b Endereço
        %td=@proposal.address + ", " + @proposal.number
      %tr
        %td 
          %b Cidade
        %td=@proposal.city + " -" + @proposal.state
      %tr
        %td 
          %b CEP
        %td=@proposal.postal_code
    
    %h1 Dados do Pedido
    %table
      %tr
        %td{:width => "50%", :valign => "top"}
          %h3="Pedido Nº #{@proposal.id}"
          %h4="Vendedor: #{@proposal.user.username}"
          %h4="Data do pedido: #{@proposal.created_at.strftime('%d/%m/%Y')}"
        %td{:valign => "middle"}=image_tag(@proposal.user.company_logo.url(:big))
    
    
    %table.table.pedidos{:style => "width:850px;"}  
      %thead
        %th{:align => "left"} Quantidade
        %th{:align => "left"} Produto
        %th{:align => "left"} Valor Unitário
        %th{:align => "left"} Valor Total
      %tbody
        -@Total = 0
        - @proposal.proposal_items.each do |p| 
          -@Total = @Total + (p.quantity * p.value)
          %tr
            %td=p.quantity
            %td="#{p.product}"
            %td=number_to_currency(p.value)
            %td=number_to_currency(p.quantity * p.value)
        
        %tr{:style => "height:50px; font-size: 16px;"}
          %td{:colspan => 4,:align => :right}
            %b="Total #{number_to_currency(@Total)}"
            
    %h1 Informações Adicionais
    %p O PRAZO MÁXIMO PARA FATURAMENTO DOS PEDIDOS EM CARTEIRA É DE 30 DIAS
    %p OS PEDIDOS SEM O FORMULÁRIO ASSINADO NÃO SERÃO ACEITOS
    %p A LYTHOS.  RESERVA-SE  AO DIREITO DE EFETUAR ALTERAÇÕES EM SEUS PREÇOS SEM CONSULTA PRÉVIA, NESTES CASOS OS PEDIDOS PODERÃO SER CANCELADOS
              